Given the names and grades for each student in a Physics class of N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

<i>Note</i>: If there are multiple students with the same grade, order their names alphabetically and print each name on a new line.

<b>Input Format</b>

The first line contains an integer, N , the number of students.
The 2N subsequent lines describe each student over 2 lines; the first line contains a student's name, and the second line contains their grade.

<b>Constraints </b>
- 2<=N <= 5
- There will always be one or more students having the second lowest grade.

<b>Output Format</b>

Print the name(s) of any student(s) having the second lowest grade in Physics; if there are multiple students, order their names alphabetically and print each one on a new line.

<b>Sample Input 0</b>

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39

<b>Sample Output 0</b>

Berry
Harry

<b>Explanation 0</b>

There are 5 students in this class whose names and grades are assembled to build the following list:

python students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

The lowest grade of 37.2 belongs to Tina. The second lowest grade of 37.21 belongs to both Harry and Berry, so we order their names alphabetically and print each name on a new line.

In [1]:
students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

In [2]:
'''first make list for grades'''
grade_list = []
for std in students:
    grade_list.append(std[1])
'''take minimum value from that'''
minimum = min(grade_list)

'''after that remove it from grades list'''
while(minimum == min(grade_list)):
    grade_list.remove(min(grade_list))

In [3]:
'''now take again minimum value, which is second minimum for initial list'''
second_minimum = min(grade_list)
second_minimum

'''might be, we have multiple (duplicate) values, so append all in 
the seperate list from student list(which has a name and grades of students).'''
second_minimum_list = []
for std in students:
    if(std[1] == second_minimum):
        second_minimum_list.append(std)

'''now, sort it and print only name.'''
second_minimum_list.sort()
for i in second_minimum_list:
    print(i[0])

Berry
Harry